/*cambio de color div global*/
div{
    color: rgb(23, 23, 122);
}
#divMensaje{
    color:rgb(172, 42, 42);
}
/*modifica todo la clase msg con colores y demas*/
.msg{
    color: chartreuse;
    background-color: rgb(119, 56, 33);
    font-size: 48px;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border: 2px solid rgb(23, 23, 114);
    border-radius: 250px; 
    width: 250px;
    height: 250px;
    margin-top: 30px;
    padding-bottom: 54px;
    border-left: 12px solid yellow;

}
/*modifica el color al colocar el puntero sobre el div*/
.msg:hover{
    color: white;
    background-color: blue;
}