HEAD
/*cambio color div global*/
div{
    color: hsl(113, 89%, 50%);
}
#divmensaje{
    color: #0010f5;
}
.mensaje{
    color: rgb(236, 128, 85)!important;
       
}
.msg{
font-size: 48px;
background-color: rgba(255, 255, 255, 0.856);
margin: 12px;
padding: 12px;
text-align: center;
border: 2px solid hsl(219, 93%, 40%) ;
border-radius: 100px;
width: 100px;
height: 100px;
margin-top: 30px;
padding-bottom: 54px;
border-left: 16px solid hsl(118, 89%, 50%);
cursor:pointer

}

.msg:hover{
    color: white;
    background-color:  #b85add;
}
