/*Cambio color Div Global*/
div {
    color: rgb(255, 255, 255);
}
#divMensaje{
    color:rgb(38, 0, 255);
}
.mensaje{
    color: yellow !important;
}
.msg{
    font-size: 48px;
    background-color: black;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 20px;
    margin-top: 30px;
    padding-bottom: 54px;
    border-left: 12px solid rgb(138, 138, 138);
    cursor: pointer;

}
.msg:hover{
    color: white;
    background-color: rgb(116, 108, 238);
}
