/*Cambio color div global*/
div{
    color: rgb(230, 98, 98);
}
#divMensaje{
    color: forestgreen;
}
.mensaje{
    color: gold;    
}
.msg{
    font-size: 48px;
    background-color: aquamarine;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border: 2px solid red;
    border-radius: 18px;
    width: 150px;
    height: 120px;

}
.msg:hover{
    color: white;
    background-color: coral;
}