/*cambio color div global*/
div {
    color: #ffb300;
}
#divMensaje{
    color: rgb(255, 60, 0);
}
.mensaje{
    color: chartreuse(253, 221, 14) !important;
    font-size: 48px;
}
.msg{
    font-size: 48px;
    background-color: black;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border: 2px solid blue;
    margin-top: 30px;
    padding-bottom: 54px;
    border-left: 12px solid rgb(4, 255, 0);
}
.msg:hover{
    color: white;
    background-color: aqua;
}
