    /* con el punto llama a un tipe de clase*/
    .boton {
        background-color: #007acc;
        color: white;
        width: 128px;
        padding: 12px 6px 12px 6px;
        text-align: center;
        cursor: pointer;
        border: 1px  dashed blue;
    }
        /* con el punto llama a un tipe de clase y con hover para darle una transicion */
    .boton:hover{
        border-radius: 18px;   
        transition: 1s ease-in-out;
    }
    /* Llaman  a toda la table */
    table{
    border: 1px solid #007acc ;
    margin: 12px 0px 0px 0px;
    border-spacing: 0px;
    }
    th{
        background-color: #007acc;
        color: white;
    }
    /*Animacion*/
    th:hover{
        background-color: green;
        transition: 1s ease-in-out;
    }
    img{
        width: 128px;
        border-radius: 40%;
    }
    a img{
        border: 1px solid  black ;
        border-radius: 0%;
        width: 50px;
    }
    .error{
        background-color: rgb(233, 122, 122);
        padding: 12px ;
        border: 2px dashed red ;
    }
    .exito{
        background-color:   rgb(114, 212, 130) ;
        padding: 12px ;
        border: 2px dashed green ;
    }
        