.boton {
    background-color: #04AA6D;
    color: white;
    width: 68px;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.3s;
}

.boton:hover{
    background-color: #027249;
    color: white;
}

table{
    border: 1.1px solid black;
    margin: 12px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 12%;
}

th{
    background-color: #04AA6D;
    color: white;
}
th:hover{
    background-color: #027249;
    transition-duration: 0.3s;
}

img{
    width: 268px;
    border-radius: 2px;
}

.lol{
    width: 2px;
}

a img{
    border: 1px solid black;
    
}